@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button, [type="button"], [type="reset"], [type="submit"] {
    background-color: unset;
  } 
}

#app {
  position: relative;
  z-index: 10;

  pointer-events: none;
}

canvas#webgl {
  position: fixed;
  
  top: 0;

  height: 100vh;
  width: 100vw;
}
